bin/Debug/netcoreapp3.1/csv_to_json
bin/Debug/netcoreapp3.1/csv_to_json.deps.json
bin/Debug/netcoreapp3.1/csv_to_json.dll
bin/Debug/netcoreapp3.1/csv_to_json.pdb
bin/Debug/netcoreapp3.1/csv_to_json.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/csv_to_json.runtimeconfig.json
bin/Debug/netcoreapp3.1/CSVConverter
bin/Debug/netcoreapp3.1/CSVConverter.deps.json
bin/Debug/netcoreapp3.1/CSVConverter.dll
bin/Debug/netcoreapp3.1/CSVConverter.pdb
bin/Debug/netcoreapp3.1/CSVConverter.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/CSVConverter.runtimeconfig.json
bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
obj/csv_to_json.csproj.nuget.dgspec.json
obj/csv_to_json.csproj.nuget.g.props
obj/csv_to_json.csproj.nuget.g.targets
obj/CSVConverter.csproj.nuget.dgspec.json
obj/CSVConverter.csproj.nuget.g.props
obj/CSVConverter.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/csv_to_json
obj/Debug/netcoreapp3.1/csv_to_json.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/csv_to_json.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/csv_to_json.assets.cache
obj/Debug/netcoreapp3.1/csv_to_json.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/csv_to_json.csproj.CopyComplete
obj/Debug/netcoreapp3.1/csv_to_json.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/csv_to_json.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/csv_to_json.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/csv_to_json.dll
obj/Debug/netcoreapp3.1/csv_to_json.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/csv_to_json.pdb
obj/Debug/netcoreapp3.1/CSVConverter
obj/Debug/netcoreapp3.1/CSVConverter.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/CSVConverter.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/CSVConverter.assets.cache
obj/Debug/netcoreapp3.1/CSVConverter.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/CSVConverter.csproj.CopyComplete
obj/Debug/netcoreapp3.1/CSVConverter.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/CSVConverter.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/CSVConverter.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/CSVConverter.dll
obj/Debug/netcoreapp3.1/CSVConverter.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/CSVConverter.pdb
